body {
    margin: 1em;
    padding: 0;
}
.maxW1200 {
    max-width: 1200px;
}
.maxW960 {
    max-width: 960px;
}
ul {
    list-style: none;
    padding: 0;
}
input, textarea, .select select {
    max-width: 25em;
}
input[type=number]{
    width: 4em;
}
pre {
    font-size: 12px;
    color: #666;
}

.comp { padding: 1em; }

.c-navbotons {
    background-color: white;
    color: #111;
 }
 .c-navbotons button {
    max-width: 49%;
    background-color: #b6b6b6;
    color: #111;
    padding: 6px 0;
}
.c-navbotons > div {
    display: flex;
    justify-content: space-evenly;
}

.c-home {
    background-color: white;
    color: #111;
}
.c-escena {
    background-color: white;
    color: #111;
 }

.lesfrases {

}
.lesfrases li{
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    color: #666;
    padding: 6px 12px;
    text-align: center;
}
.active {
    background-color: #60ce2d!important;
    color: #fff!important;
}
.counter {
    text-align: center;
    font-size: .8em;
    font-weight: normal;
}
